html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px == 1rem*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/*utilidades*/

.centrar-texto {
    text-align: center;
}

.no-margin {
    /*para eliminar los margenes*/
    margin: 0;
}

/*grid*/
@media(min-width:768px){
    .grid{
        display: flex;
        justify-content: space-between;
    }
    
    .columna-6{
        flex-basis: calc(50% - 1.5rem);
    }
    
}

/*Botones*/

.btn {
    display: block;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1rem 3rem;
    margin: 3rem 0;
    text-transform: uppercase;
}

@media(min-width:780px) {
    .btn {
        display: inline-block;
    }
}

.btn-primario {
    background-color: black;
}

.btn-secundario {
    background-color: rgb(75, 39, 39);
}

/*header*/

@media(min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    /*para que no se repita la misma imagen*/
    background-position: center center;
    /*centrar la imagen*/
    background-size: cover;
    /*para que la imagen ocupe todo el espacio*/
    height: 60rem;
    /*la altura del header*/
}

.site-header a {
    color: white;
    text-decoration: none;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.site-header h1 span {
    font-weight: 700;
}

/*navegacion*/

.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

@media(min-width:768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

/*header texto*/

.texto-header {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 4rem;
}

@media(min-width:790px) {
    .texto-header {
        margin-top: 20rem;
    }
}

.texto-header p {
    font-size: 2.2rem;
}

/*contenido principal*/

.contenido-principal {
    display: flex;
    flex-wrap: wrap;
}

.blog, .cursos {
    flex: 0 0 100%;
}

.cursos {
    order: -1;
}

@media(min-width:768px) {
    .contenido-principal {
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
    }
    .cursos {
        flex-basis: calc(33.3% - 4rem);
        order: 2;
    }
}

.entrada-blog {
    margin-bottom: 2rem;
    border-bottom: solid #e1e1e1;
}

.entrada-blog:last-of-type {
    border: none;
}

/*lista de cursos sidebar*/

.cursos-lista {
    padding: 0;
    list-style: none;
}

.curso {
    padding-bottom: 2rem;
    border-bottom: solid #e1e1e1;
}

.curso:last-of-type {
    border-bottom: none;
}

.curso p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.curso p span {
    font-weight: 400;
}

/*footer*/
.site-footer{
    background-color: black;
    padding: 3rem;
    margin-top: 3rem;
}

.site-footer p{
    color:white;
    font-size: 4rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}
.site-footer span{
    font-weight: 700;
}

.barra a{
    text-decoration: none;
}
